
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="assets/images/no-image.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
           <div class="input-field col s12 l6 m6">
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">Name</label>
        </div>
        <div class="input-field col s12 l6 m6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Code</label>
        </div>
         </div>
        <div class="row">
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Description</label>
        </div>

        </div>

         
        </div>
      </div>