<div class="comp-stack text-dark">
  <div class="row ">
    <form #OryxForm="ngForm">
      <div class="col s12 m3 l4" *ngFor='let product of products' style="float:left">
        <div class="card">
          <div class="card-stacked">
            <div class="card-content">
              <div>
                <span class="title"> <label >Name: </label>{{product.name}}</span>


              </div>
              <div>
                <span> <label >Code: </label>{{product.code}} 
          </span>
              </div>
              <div>
                <span> <label >description: </label>{{product.description}}  
          </span>
              </div>

            </div>

          </div>
          <!--<div class="card-action">
          <a (click)="edit.emit(agent.id)">Edit</a>
          <div class="switch " style="float:right;">
            <label>
            
          <input type="checkbox" id="c_{{ i }}" checked="checked"  />
          <span class="lever"></span>           
        
          </label>

          </div>
        </div>-->
        </div>
      </div>
    </form>
  </div>
  <!--<div class="is-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>-->
</div>