       <div class="comp-stack text-dark">
      <div materialize class="row">
        	<div class="col l2 m2 s12">
        	</div>
	  <div materialize class="row">
     
		<div class="col l8 m7 s12"> 
	<div class="card">
					<table class="striped" id="tbl">
						<thead>
							<tr>
								<th data-field="id"> S/N</th>

								<th data-field="id"> Product</th>
								<th data-field="id">Quantity</th>
								<th data-field="name">Warehouse </th>

							</tr>
						</thead>

						<tbody>
							<tr >
								<td>1</td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
							</tr>
<tr >
								<td>2</td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
							</tr>
              <tr >
								<td>3</td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
							</tr>
              <tr >
								<td> 4</td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
							</tr>
              <tr >
								<td> 5</td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
							</tr>
              <tr >
								<td> 6</td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
							</tr>
              <tr >
								<td> 7</td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
							</tr>
              <tr >
								<td> 8</td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
								<td> <input   type="text" class="validate"></td>
							</tr>
						</tbody>
					</table>
				</div>

     <div style="text-align:left;"> <div class="input-field  col l4  m4 s6">

							<button class="wave-effect wave-light btn btn "><i class="material-icons">save</i></button>
							<button class="wave-effect wave-light btn btn disabled"><i class="material-icons">clear</i></button>

						</div>
     </div>
		</div>
  </div>
       	<div class="col l2 m2 s12">
        	</div>
           </div>
       </div>
       